<div class="content">

  <!-- Start Content-->
  <div class="container-fluid">

    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div class="page-title-box">
          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <!--<li class="breadcrumb-item"><a href="javascript: void(0);">UBold</a></li>-->
              <!-- <li class="breadcrumb-item"><a href="ts-l-index.html"> Title Search</a></li> -->
              <li class="breadcrumb-item"><a [routerLink]="['/']">Rahul Sharma SBI110</a></li>
              <li class="breadcrumb-item active">Document Request</li>
            </ol>
          </div>

          <h4 class="page-title">Rahul Sharma <small>Document Upload</small> </h4>
        </div>
      </div>
    </div>
    <!-- end page title -->


    <div class="row">

      <div class="col-md-12 col-xl-7">
        <div class="card">
          <div class="card-body">
            <div class="card-widgets">
              <!-- <a href="javascript: void(0);" data-toggle="reload"><i class="mdi mdi-refresh"></i></a> -->
              <!-- <a data-toggle="collapse" href="#cardCollpase4" role="button" aria-expanded="false"
                aria-controls="cardCollpase4"><i class="mdi mdi-minus"></i></a> -->
              <!-- <a href="javascript: void(0);" data-toggle="remove"><i class="mdi mdi-close"></i></a> -->
            </div>
            <h4 class="header-title mb-0">Document Upload</h4>
            <div id="cardCollpase4" class="collapse pt-3 show">

              <div class="pn-main">
                <div class="form-row">
                  <div class="form-group mb-3 col-md-12 col-xl-12">
                    <label for="">Property</label>
                    <select class="custom-select ">
                      <option selected>Select Property</option>
                      <option value="1">Sale Deed</option>
                      <option value="2">Letter from Society</option>
                      <option value="3">Registered Search 7/12 - 1951/52</option>
                      <option value="4">Other</option>
                    </select>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group mb-3 col-md-12 col-xl-12">
                    <label for="">Legal Case</label>
                    <select class="custom-select ">
                      <option selected>Select Legal Case</option>
                      <option value="1">Sale Deed</option>
                      <option value="2">Letter from Society</option>
                      <option value="3">Registered Search 7/12 - 1951/52</option>
                      <option value="4">Other</option>
                    </select>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group mb-3 col-md-12 col-xl-12">
                    <label for="">Document Type</label>
                    <select class="custom-select ">
                      <option selected>Select Document Type</option>
                      <option value="1">Sale Deed</option>
                      <option value="2">Letter from Society</option>
                      <option value="3">Registered Search 7/12 - 1951/52</option>
                      <option value="4">Other</option>
                    </select>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group mb-3 col-md-12">
                    <label>Upload File</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile04">
                            <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                        </div>
                    </div>
                    <div class="pull-right">
                      <label>PDF or JPG files Only. Max File size 2 MB</label>
                    </div>
                </div>
                </div>

                <div class="form-row">
                  <div class="form-group mb-2 col-md-12 col-xl-12">
                    <label for="example-textarea">Description</label>
                    <textarea class="form-control" id="example-textarea" rows="3" placeholder="Enter Description"></textarea>
                  </div>
                </div>
                
                <div class="text-center button-list mt-3">
                  <!-- <a class="btn btn-outline-primary" href="javascriptvoid:();">Edit</a> -->
                </div>
              </div>

              <div class="text-center button-list mt-3">

                <button class="btn btn-primary waves-effect waves-light btn-sm" type="button" data-toggle="collapse"
                  data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                  <i class="dripicons-cloud-upload mr-1"></i>Upload Document
                </button>

              </div>

            </div>

          </div> <!-- end collapse-->
        </div> <!-- end card-body-->
      </div> <!-- end card-->
    </div>
  </div>
</div> <!-- container -->