<div class="container-fluid">
  <!-- breadCrums -->
  <app-page-title
    title="AICC Properties Managed"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>

  <!-- page start -->
  <app-portlet
    *ngFor="let item of stateList"
    title="{{ item.StateName }}"
    anotherTitle="{{ item.NoOfProperty }}"
    Icon="mdi mdi-home"
    headerClass="h5 header-title"
    collapsed="{{ item.collapsed }}"
    loading="{{ item.loading }}"
    color="white"
    id="{{ item.StateID }}"
    (onLoad)="onShow($event)"
    ><div class="container-fluid px-4">
      <p class="text-muted font-13 mb-4"></p>
      <div class="row mb-md-2">
        <div class="col-sm-12 col-md-6">
          <div class="dataTables_length" id="tickets-table_length">
            <label class="d-inline-flex align-items-center"
              >Show
              <select
                name="tickets-table_length"
                aria-controls="tickets-table"
                name="pageSize"
                class="custom-select custom-select-sm form-control form-control-sm mx-2"
              >
                <option [ngValue]="10">10</option>
                <option [ngValue]="25">25</option>
                <option [ngValue]="50">50</option>
                <option [ngValue]="100">100</option>
              </select>
              entries</label
            >
          </div>
        </div>
        <!-- Search -->
        <div class="col-sm-12 col-md-6">
          <div
            id="tickets-table_filter"
            class="dataTables_filter text-md-right"
          >
            <label class="d-inline-flex align-items-center"
              >Search:
              <input
                type="text"
                name="searchTerm"
                class="form-control form-control-sm ml-2"
                aria-controls="tickets-table"
            /></label>
          </div>
        </div>
        <!-- End search -->
      </div>
      <!-- Table -->
      <div class="table-responsive">
        <table
          id="basic-datatable"
          class="table datatables dt-responsive nowrap table-hover"
        >
          <thead style="background-color: #f1f5f7">
            <tr>
              <th sortable="property_name" (sort)="onSort($event)">
                Property Name
              </th>
              <th sortable="location" (sort)="onSort($event)">Location</th>
              <th sortable="status" (sort)="onSort($event)">Status</th>
              <th sortable="summary" (sort)="onSort($event)">Summary</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr tr *ngFor="let table of item.data">
              <td style="width: 20%">
                <ngb-highlight [result]="table.PropertyName"></ngb-highlight>
              </td>
              <td style="width: 20%">
                <ngb-highlight [result]="table.PostalAddress"></ngb-highlight>
              </td>
              <td style="width: 20%">
                <ngb-highlight
                  [result]="table.StatusOfElectricity"
                ></ngb-highlight>
              </td>
              <td style="width: 20%">
                <ngb-highlight [result]="table.Description"></ngb-highlight>
              </td>
              <td style="width: 20%; text-align: right">
                <button
                  (click)="onDeleteProperty(table.PropertyID)"
                  class="btn btn-danger mx-1"
                >
                  <i class="mdi mdi-delete"></i>
                </button>
                <button
                  (click)="onViewProperty(table.PropertyID)"
                  class="btn btn-primary mx-1"
                >
                  <i class="mdi mdi-eye-check"></i>
                </button>

                <button
                  class="btn btn-secondary mx-1"
                  [routerLink]="['/property/edit', table.PropertyID]"
                >
                  <i class="mdi mdi-account-edit"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- End table -->
    <div class="row justify-content-md-between align-items-md-center mt-2">
      <div class="col-sm-12 col-md-5">
        <div
          class="dataTables_info mb-2"
          id="tickets-table_info"
          role="status"
          aria-live="polite"
        >
          Showing
          <!-- {{service.startIndex}} to
        {{service.endIndex}} of {{service.totalRecords}} -->
          entries
        </div>
      </div>
      <!-- Pagination -->
      <div class="col-sm-12 col-md-5">
        <div class="text-md-right float-md-right pagination-rounded">
          <ngb-pagination [collectionSize]="item.NoOfProperty">
          </ngb-pagination>
        </div>
      </div>
    </div>
  </app-portlet>
</div>
