<app-custom-partlet
  class="m-2"
  *ngFor="let item of datasource"
  title="Registration: {{ item.RegistrationNumber }}"
  anotherTitle="{{ item.RegistrationDate | date: 'MMM-dd-yyyy' }}"
  Icon=""
  headerClass="header-title"
  collapsed="{{ item.collapsed }}"
  loading="{{ item.loading }}"
  color="{{ item.Status == 1 ? 'lite' : 'soft-success' }}"
  instyle="true"
  text="green"
  id="{{ item.StateID }}"
  (onLoad)="onShow($event)"
  courtname="{{ item.CourtName }}"
  CaseStatus="{{ item.Status == 1 ? 'Ongoing' : 'Dispose' }}"
>
  <app-details-legal-case></app-details-legal-case>
</app-custom-partlet>
<div class="card-disabled" *ngIf="isloading">
  <div class="card-portlets-loader"></div>
</div>
