<div class="content">

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <!--<li class="breadcrumb-item"><a href="javascript: void(0);">UBold</a></li>-->
                            <!-- <li class="breadcrumb-item"><a href="ts-l-index.html"> Title Search</a></li> -->
                            <li class="breadcrumb-item"><a [routerLink]="['/']">Properties</a></li>
                            <li class="breadcrumb-item"><a [routerLink]="['/']">Gujarat</a></li>
                            <li class="breadcrumb-item active"><a [routerLink]="['/']">Anand Bhavan</a></li>
                        </ol>
                    </div>

                    <h4 class="page-title">Rahul Sharma <small></small> </h4>
                </div>
            </div>
        </div>
        <!-- end page title -->


        <div class="row">

            <div class="col-md-12 col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-widgets">
                        </div>
                        <!-- <h4 class="header-title mb-0"></h4> -->
                        <div id="cardCollpase4" class="collapse pt-3 show">

                            <div class="pn-main">

                                <div class="row">
                                    <div class="col-lg-8">
                                        <app-details-photograph></app-details-photograph>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <app-add-photograph></app-add-photograph>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div> <!-- end collapse-->
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div>
        </div>
    </div> <!-- container -->