<form [formGroup]="lawyerForm" (ngSubmit)="onLawyerSubmit()">
        
  <div class="row">
    <div class="col-md-12 mb-3">
      <h4 class="header-title">LegalCase ID</h4>
      <input class="form-control"  formControlName="LegalCaseID" type="text" readonly
      />
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12 mb-3">
      <h4 class="header-title">Respondent Lawyer</h4>
     
        <ng-autocomplete 
          formControlName="RespondentLawyer"
          [ngClass]="{ 'is-invalid': submit && f.RespondentLawyer.errors }"
          [data]="lawyerList"
          [searchKeyword]="keyword"
          (selected)='selectEvent($event)'
          (inputChanged)='onChangeSearch($event)'
          (inputFocused)='onFocused($event)'
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate">                                 
        </ng-autocomplete>
        
        <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.LawyerName"></a>
        </ng-template>
        
        <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
        </ng-template>
     
        <div *ngIf="submit && f.RespondentLawyer.errors" class="invalid-feedback">
          <div *ngIf="f.RespondentLawyer.errors.required">
            Respondent Lawyer is required.
          </div>
        </div>
  </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-3">
      <h4 class="header-title">Petitioner Lawyer</h4>
    
        <ng-autocomplete 
          formControlName="PetitionerLawyer"
          [ngClass]="{ 'is-invalid': submit && f.PetitionerLawyer.errors }"
          [data]="lawyerList"
          [searchKeyword]="keyword"
          (selected)='selectEvent($event)'
          (inputChanged)='onChangeSearch($event)'
          (inputFocused)='onFocused($event)'
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate">                                 
        </ng-autocomplete>
        
        <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.LawyerName"></a>
        </ng-template>
        
        <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
        </ng-template>

        <div *ngIf="submit && f.PetitionerLawyer.errors" class="invalid-feedback">
          <div *ngIf="f.PetitionerLawyer.errors.required">
            Petitioner Lawyer is required.
          </div>
        </div>
  </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-3">
      <button class="btn btn-warning waves-effect waves-light btn-block" type="submit">
        Add Lawyer 
      </button>
    </div>
  </div>

</form>