<div class="container-fluid">
  <app-page-title
    title="Bulk Upload-Application"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>

  <div class="px-4">
    <div class="mx-3 px-3">
      <a class="font-16" href="/assets/files/bulk_upload_application_demo.xlsx"
        >Click Here </a
      >To Download Sample Excel File, All (*) Marked columns are mandatory in
      excel.
    </div>
    <div class="px-4 my-2">
      <p>Download Datasheet for bulk upload</p>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <ng-select
              class="form-control"
              autocomplete="off"
              placeholder="Select state"
              [(ngModel)]="stateId"
            >
              <ng-option
                *ngFor="let item of statedata"
                [value]="item.StateID"
                [id]="item.StateID"
                >{{ item.StateName }}</ng-option
              >
            </ng-select>
          </div>
        </div>
        <div class="col-md-6">
          <button (click)="exportToExcel()" class="btn btn-info">
            Download Data
          </button>
        </div>
      </div>
    </div>
    <div class="card m-3 p-3" *ngIf="ResponseData.length <= 0">
      <h4 class="header-title">Select Excel File *</h4>
      <p class="text-muted font-13 m-b-30"></p>
      <!-- file upload -->
      <file-upload
        class="dropzone"
        isAnimationDisabled="true"
        listVisible="true"
        zoomText="zoomOut"
        [(ngModel)]="file"
        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
        type="file"
        maxsize="20mb"
        (ngModelChange)="onchange($event)"
      ></file-upload>
      <button class="btn btn-primary mt-3" (click)="onSubmit()">Upload</button>
    </div>
  </div>
  <div class="px-4 mt-3">
    <div class="mx-3 px-3" *ngFor="let item of ResponseData">
      <ngb-alert
        [dismissible]="false"
        type="{{ item.status == 'Error' ? 'danger' : 'success' }}"
      >
        Application / row number {{ item.index }} {{ item.message }}</ngb-alert
      >
    </div>
  </div>
  <div class="card-disabled" *ngIf="isLoading">
    <div class="card-portlets-loader"></div>
  </div>
</div>
