<div class="container-fluid">
  <!-- breadCrums -->
  <app-page-title
    title="Property Name"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>

  <div class="card-box">
    <ngb-tabset justify="justified" type="pills">
      <ngb-tab title="Property" class="nav-item">
        <ng-template ngbTabContent class="nav-item">
          <app-view-property propertyId="{{ propertyID }}"></app-view-property>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Alert" class="nav-item">
        <ng-template ngbTabContent> </ng-template>
      </ngb-tab>
      <ngb-tab title="Photographs" class="nav-item">
        <ng-template ngbTabContent
          ><app-view-photograph propertyId="{{ propertyID }}">
          </app-view-photograph
        ></ng-template>
      </ngb-tab>
      <ngb-tab title="Tax" class="nav-item">
        <ng-template ngbTabContent class="nav-item">
          <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
              <app-add-tax propertyID="{{ propertyID }}"> </app-add-tax>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Rent" class="nav-item">
        <ng-template ngbTabContent>
          <app-rent propertyID="{{ propertyID }}"></app-rent>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Maintenance" class="nav-item">
        <ng-template ngbTabContent> </ng-template>
      </ngb-tab>
      <ngb-tab title="Legal Case" class="nav-item">
        <ng-template ngbTabContent> </ng-template>
      </ngb-tab>
      <ngb-tab title="Trust" class="nav-item">
        <ng-template ngbTabContent> </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
