<form [formGroup]="hearingForm" (ngSubmit)="onSubmitHearingData()">

  <div class="row">
    <div class="col-md-12 mb-3">
      <h4 class="header-title">LegalCaseID</h4>
      <input class="form-control"  formControlName="LegalCaseID" type="text" readonly
      [ngClass]="{ 'is-invalid': submit && f.LegalCaseID.errors }"
      />
    </div>
    <div *ngIf="submit && f.LegalCaseID.errors" class="invalid-feedback">
      <div *ngIf="f.LegalCaseID.errors.required">
        LegalCaseID is required
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12 mb-3">
      <h4 class="header-title">Next Hearing Date</h4>
      <input class="form-control" placeholder="Enter Next Hearing Date" 
      formControlName="NextHearingDate"
      [ngClass]="{ 'is-invalid': submit && f.NextHearingDate.errors }"
      type="date" />

      <div *ngIf="submit && f.NextHearingDate.errors" class="invalid-feedback">
        <div *ngIf="f.NextHearingDate.errors.required">
          Next Hearing Date  is required.
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-3">
      <h4 class="header-title">Is Last Hearing</h4>
          <span> <input type="radio" formControlName="IsLastHearing" value="1" selected > Yes</span>
          <span><input type="radio" formControlName="IsLastHearing" value="0"> No</span>
    </div>
    </div>
  


  <div class="row">
    <div class="col-md-12 mb-3">
      <h4 class="header-title">Decision Date</h4>
      <input class="form-control" placeholder="Enter Decision Date" formControlName="DecisionDate"  
      type="date" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-3">
      <button class="btn btn-warning waves-effect waves-light btn-block" type="submit">
        Add 
      </button>
    </div>
  </div>

</form>