<div class="row" >
  <div class="col-12">
    <div class="col-12" *ngIf="loading">
            <table width=50%>
              <tr>
                <td colspan="2">
                <div class="border-bottom">
                   <h5 class="text-info">Property Information</h5>
                </div>
              </td>
              </tr>
    <tr *ngIf="data.PropertyName"><td>Property Name: </td><td>{{ data.PropertyName }}</td></tr>
    <tr *ngIf="data.BuildingNo"><td>Building No: </td><td>{{ data.BuildingNo }}</td></tr>
    <tr *ngIf="data.BuildingName"><td>Building Name: </td><td>{{ data.BuildingName }}</td></tr>
    <tr *ngIf="data.CitySurveyNo"><td>CitySurvey No: </td><td>{{ data.CitySurveyNo }}</td></tr>
    <tr *ngIf="data.CitySurveyOffice"><td>CitySurveyOffice: </td><td>{{ data.CitySurveyOffice }}</td></tr>
    <tr *ngIf="data.CityWardNo"><td>CityWardNo: </td><td>{{ data.CityWardNo }}</td></tr>
    <tr *ngIf="data.CityWardName"><td>CityWardName: </td><td>{{ data.CityWardName }}</td></tr>
    <tr *ngIf="data.SheetNumber"><td>SheetNumber : </td><td>{{ data.SheetNumber }}</td></tr>

    <tr *ngIf="data.SurveyNo"><td>Survey No: </td><td>{{ data.SurveyNo }}</td></tr>
    <tr *ngIf="data.TPNo"><td>TPNo: </td><td>{{ data.TPNo }}</td></tr>
    <tr *ngIf="data.FPNo"><td>FPNo: </td><td>{{ data.FPNo }}</td></tr>
    <tr *ngIf="data.PostalAddress"> <td>PostalAddress:</td><td> {{ data.PostalAddress }}</td></tr>
    <tr *ngIf="data.PinCode"><td>PinCode:</td> <td>{{ data.PinCode }}</td></tr>
    <tr *ngIf="data.Description"> <td>Description:</td><td> {{ data.Description }}</td></tr>
    <tr *ngIf="data.LandSize"><td>LandSize:</td> <td>{{ data.LandSize }}</td></tr>
    <tr *ngIf="data.WaterAvailability"> <td>WaterAvailability:</td><td> {{ data.WaterAvailability }}</td></tr>
    <tr *ngIf="data.StatusOfElectricity"><td>StatusOfElectricity:</td> <td>{{ data.StatusOfElectricity }}</td></tr>
    <tr *ngIf="data.AgeOfProperty"><td>AgeOfProperty:</td> <td>{{ data.AgeOfProperty }}</td></tr>
    <tr *ngIf="data.NoOfBHK"><td>NoOfBHK:</td> <td>{{ data.NoOfBHK }}</td></tr>
    <tr *ngIf="data.FurnishType"><td>FurnishType:</td> <td>{{ data.FurnishType }}</td></tr>

    <tr *ngIf="data.VillageName"> <td>Village :</td><td> {{ data.VillageName }}</td></tr>
    <tr *ngIf="data.TalukaName"><td>Taluka :</td> <td>{{ data.TalukaName }}</td></tr>
    <tr *ngIf="data.DistrictName"><td>District :</td> <td>{{ data.DistrictName }}</td></tr>
    <tr *ngIf="data.StateName"><td>State :</td> <td>{{ data.StateName }}</td></tr>
   
  </table>
    </div>
    
  </div>
</div>
<br>
<div *ngIf="data.Ownership">
<div *ngFor="let item of data.Ownership">
  <ng-container *ngIf="item.OwnerName">
    <div class="border-bottom">
      <h5 class="text-info">Ownership</h5>
    </div>
  <small><b>OwnerName: </b>{{ item.OwnerName }}</small><br>
  <small><b>Since: </b>{{ item.SinceFrom | date }}</small>
</ng-container>
</div>


<br>

<div *ngIf="data.InCharge">
<div *ngFor="let item of data.InCharge">
<ng-container *ngIf="item.InChargeName">
  <div class="border-bottom">
    <h5 class="text-info">In Charge</h5>
  </div>
  
  <div>
    <small><b>InChargeName: </b>{{ item.InChargeName }}</small><br>
    <small><b>MobileNo: </b>{{ item.MobileNo }}</small><br>
    <small><b>Since: </b>{{ item.InChargeFromDate | date }}</small><br>
    <small><b>Email: </b>{{ item.Email }}</small><br>
  </div>
</ng-container>
</div>
</div>


<br>
<div class="row">
  <div class="col-sm-1 mb-1">
    <button
      class="btn btn-warning waves-effect waves-light btn-block"
      outline
      type="button"
      (click)="GoBack()"
    >
     Go Back
    </button>
  </div>
</div>
