<div class="card-box">
  <div class="row">
    <div class="col-xs-12 col-sm-11">
      <ngb-tabset justify="justified" type="pills">
        <ngb-tab title="Details & Acts" class="nav-item">
          <ng-template ngbTabContent class="nav-item"> </ng-template>
        </ngb-tab>
        <ngb-tab title="Status" class="nav-item">
          <ng-template ngbTabContent> </ng-template>
        </ngb-tab>
        <ngb-tab title="Petitioner & Advocate" class="nav-item">
          <ng-template ngbTabContent></ng-template>
        </ngb-tab>
        <ngb-tab title="Respondent & Advocate" class="nav-item">
          <ng-template ngbTabContent class="nav-item"> </ng-template>
        </ngb-tab>
        <ngb-tab title="Documents" class="nav-item">
          <ng-template ngbTabContent class="nav-item"> </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
    <div class="col-xs-12 col-sm-1">
      <div class="float-right dropdown" id="dots" ngbDropdown>
        <a
          href="javascript: void(0);"
          class="dropdown-toggle arrow-none"
          data-toggle="dropdown"
          aria-expanded="false"
          ngbDropdownToggle
        >
          <i class="mdi mdi-dots-vertical m-0 text-muted h3"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0);">Edit</a>
          <a class="dropdown-item" href="javascript:void(0);">Delete</a>
          <a class="dropdown-item" href="javascript:void(0);">Add Members</a>
          <a class="dropdown-item" href="javascript:void(0);">Add Due Date</a>
        </div>
      </div>
    </div>
  </div>
  <!-- end dropdown -->
</div>
<!-- <div class="card-disabled" >
  <div class="card-portlets-loader"></div>
</div> -->
