<ul *ngFor="let item of datasource;let j = index;" style="border:1px solid blue" >
  <li ngInit (trigger)="resetCounter()">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span> Registration: {{item.RegistrationNumber}},{{item.RegistrationDate | date:"MMM-dd-yyyy"}}</span>
        </mat-panel-title>
        <mat-panel-description>
          <span>{{item.CourtName}} , {{item.CourtAddress | titlecase}} </span>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="row">
        <div class="col-sm-11">
        <ngb-tabset justify="justified" type="pills" class="tabset1">
          <ngb-tab title="Details & Acts" class="nav-item">
            <ng-template ngbTabContent class="nav-item">

              <table class="table table-striped" cellspacing="5">
                <thead>
                  <tr>
                    <td colspan="2">
                      <h1>Details</h1>
                    </td>

                  </tr>
                </thead>

                <tr>
                  <td>LegalCaseId</td>
                  <td>{{item.LegalCaseID}}</td>
                </tr>


                <tr>
                  <td>Case Type</td>
                  <td>{{item.CaseType}}</td>
                </tr>

                <tr>
                  <td>Filing Number</td>
                  <td>{{item.FilingNumber}}</td>
                </tr>

                <tr>
                  <td>Filing Date</td>
                  <td>{{item.FilingDate | date:"dd/MM/yyyy"}}</td>
                </tr>

                <tr>
                  <td>Registration Number</td>
                  <td>{{item.RegistrationNumber}}</td>
                </tr>

                <tr>
                  <td>Registration Date</td>
                  <td>{{item.RegistrationDate | date:"dd/MM/yyyy"}}</td>
                </tr>

                <tr>
                  <td>
                    CNR Number
                  </td>
                  <td>
                    {{item.CNRNumber}}
                  </td>
                </tr>

              </table>
            

              <ng-container *ngFor="let act of actData[j]">
                <table class="table table-striped" *ngIf="act!== undefined && act.LegalCaseID==item.LegalCaseID">
                  <thead>
                    <tr>
                      <td colspan="2">
                        <h1>Acts</h1>
                      </td>
                    </tr>
                  </thead>
                  <tr>
                    <td>UnderAct</td>
                    <td>{{act.UnderAct}}</td>
                  </tr>
                  <tr>
                    <td>UnderSection</td>
                    <td>{{act.UnderSection}}</td>
                  </tr>
                </table>
              </ng-container>
             
            </ng-template>
          </ngb-tab>

          <ngb-tab title="Status" class="nav-item" id="tab2">
            <ng-template ngbTabContent>
              <ng-container *ngFor="let record of hearingData">
              <ng-container *ngFor="let i of record">
                <table class="table table-striped" *ngIf="i!== undefined && i.LegalCaseID==item.LegalCaseID">
              
                  <tr class="highlight" >
                    <td> NextHearingDate </td>
                    <td> {{i.NextHearingDate | date:"dd-MM-yyyy"}}</td>
                  </tr>

                  <tr>
                    <td> DecisionDate </td>
                    <td> {{i.DecisionDate | date:"dd-MM-yyyy"}}</td>
                  </tr>

                  <tr>
                    <td> IsLastHearing </td>
                    <td> {{i.IsLastHearing}}</td>
                  </tr>
             
              </table>
              </ng-container>
              </ng-container>
             
            </ng-template>
          </ngb-tab>

          <ngb-tab title="Respondent" class="nav-item">
            <ng-template ngbTabContent>

              <ng-container *ngFor="let record of lawyerData">
                <ng-container *ngFor="let i of record">
               
                  <table class="table table-striped"
                  *ngIf="i!== undefined && i.LegalCaseID==item.LegalCaseID && i.LawyerFor=='Respondent'">
            
            <ng-container *ngFor="let x of lawyerList"> 
                    <tr class="highlight" *ngIf='i.LawyerID==x.LawyerId'>
                      <td> LawyerName </td>
                       <td> {{x.LawyerName}}</td> 
                    </tr>
  
                    <tr *ngIf='i.LawyerID==x.LawyerId'>
                      <td> Firm </td>
                      <td> {{x.Firm}}</td>
                    </tr>
  
                    <tr *ngIf='i.LawyerID==x.LawyerId'>
                      <td> MobileNo </td>
                      <td> {{x.MobileNo}}</td>
                    </tr>
              </ng-container>
                </table>
               
                </ng-container>
                </ng-container>
            </ng-template>
          </ngb-tab>

          <ngb-tab title="Petitioner" class="nav-item">
            <ng-template ngbTabContent class="nav-item">
              <ng-container *ngFor="let record of lawyerData">
                <ng-container *ngFor="let i of record">
                  <table class="table table-striped" *ngIf="i!== undefined && i.LegalCaseID==item.LegalCaseID && i.LawyerFor=='Petitioner'">
                
                    <ng-container *ngFor="let x of lawyerList"> 
                      <tr class="highlight" *ngIf='i.LawyerID==x.LawyerId'>
                        <td> LawyerName </td>
                         <td> {{x.LawyerName}}</td> 
                      </tr>
    
                      <tr *ngIf='i.LawyerID==x.LawyerId'>
                        <td> Firm </td>
                        <td> {{x.Firm}}</td>
                      </tr>
    
                      <tr *ngIf='i.LawyerID==x.LawyerId'>
                        <td> MobileNo </td>
                        <td> {{x.MobileNo}}</td>
                      </tr>
                </ng-container>
               
                </table>
                </ng-container>
                </ng-container>
            </ng-template>
          </ngb-tab>

          <ngb-tab title="Documents" class="nav-item">
            <ng-template ngbTabContent>  

             Docs
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>

      <div class="col-sm-1">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openHearingDialog(item.LegalCaseID)">
            <mat-icon>add_task</mat-icon>
            <span>Add hearing date</span>
          </button>
          <button mat-menu-item (click)="openLawyerDialog(item.LegalCaseID)">
            <mat-icon>voicemail</mat-icon>
            <span>Add lawyer</span>
          </button>
          <button mat-menu-item (click)="openDocumentDialog(item.LegalCaseID)">
            <mat-icon>notifications_off</mat-icon>
            <span>Add document</span>
          </button>
        </mat-menu>
      </div>
    </div>
    </mat-expansion-panel>
  </li>
</ul>

