<section id="loan-dashboard-manager">
  <app-page-title
    title="Dashboard"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>
  <div
    style="margin-bottom: 2.5rem !important"
    *ngIf="currentUser.UserType === 'Bank Manager'"
  >
    <div ngbDropdown class="dropdown d-inline float-right mr-3">
      <button
        type="button"
        class="btn btn-info ml-1"
        id="btn={index}"
        ngbDropdownToggle
      >
        Add Application
        <i class="mdi mdi-chevron-down"></i>
      </button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <a class="dropdown-item" routerLink="/loan/addapplication"
          >Single Application</a
        >
        <a class="dropdown-item" routerLink="/loan/bulkupload"
          >Bulk Applications</a
        >
      </div>
    </div>
    <!-- <div class="btn btn-info float-right mr-3">
      <button
        type="button"
        class="btn btn-info waves-effect waves-light mr-1 dropdown-toggle"
        data-toggle="dropdown"
        aria-expanded="false"
        (click)="isdropdownShow = !isdropdownShow"
      >
        Add Application <i class="mdi mdi-chevron-down"></i>
      </button>
      <div class="dropdown-menu" [ngClass]="{ show: isdropdownShow }">
        <a class="dropdown-item" href="Task">Task</a>
        <a class="dropdown-item" href="Maintenance">Maintenance</a>
      </div>
    </div> -->

    <!-- <button
      class="btn btn-info float-right mr-3"
      routerLink="/loan/addapplication"
    >
      Add Application
    </button>
    <button class="btn btn-info float-right mr-3" routerLink="/loan/bulkupload">
      Bulk Upload Application
    </button> -->
  </div>
  <div
    class="loan-dashboard-body m-3"
    *ngIf="currentUser.UserType !== 'Lawyer'"
  >
    <div class="row">
      <div class="col-md-3 mt-1 mb-1">
        <form class="navbar-form" role="search">
          <div class="input-group">
            <input
              type="text"
              class="form-control date"
              placeholder="All Time"
              (click)="hidden = !hidden"
              name="daterange"
              autocomplete="off"
              (keydown)="callback()"
              [(ngModel)]="selected"
            />

            <ngb-datepicker
              #dp
              style="margin-top: 40px; max-width: 100%; overflow-x: scroll"
              (select)="onDateSelection($event)"
              [displayMonths]="2"
              [dayTemplate]=""
              outsideDays="hidden"
              [hidden]="hidden"
            >
            </ngb-datepicker>
            <div class="input-group-btn">
              <button
                (click)="hidden = !hidden"
                class="btn btn-primary"
                type="submit"
              >
                <i class="far fa-calendar-alt"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3 mt-1 mb-1">
        <div class="input-group">
          <ng-select
            class="form-control"
            autocomplete="off"
            (change)="ChangeLoan($event)"
            placeholder="
        Select Loan Type"
          >
            <ng-option
              *ngFor="let item of allLoanTypes"
              [value]="item.DropDownItemID"
              [id]="item.DropDownItemID"
              >{{ item.DropDownValue }}</ng-option
            >
          </ng-select>

          <div class="input-group-btn">
            <button class="btn btn-primary" type="submit">
              <i class="mdi mdi-filter-variant"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-1 mb-1">
        <form role="search">
          <div class="input-group">
            <ng-select
              [items]="allStatus"
              class="form-control"
              [placeholder]="'All Status'"
              style="margin: 0; padding: 0"
              (change)="onstatusChange($event)"
            ></ng-select>
            <div class="input-group-btn">
              <button class="btn btn-primary" type="submit">
                <i class="mdi mdi-filter-variant"></i>
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="col-md-3 mt-1 mb-1">
        <div class="input-group">
          <ng-select
            class="form-control"
            autocomplete="off"
            (change)="ChangePropertyType($event)"
            placeholder="
        Select Property Type"
          >
            <ng-option
              *ngFor="let item of allProperty"
              [value]="item.DropDownItemID"
              [id]="item.DropDownItemID"
              >{{ item.DropDownValue }}</ng-option
            >
          </ng-select>
          <div class="input-group-btn">
            <button class="btn btn-primary" type="submit">
              <i class="mdi mdi-filter-variant"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="!isFilterLoading">
      <div class="col-md-4 mt-3">
        <div class="card-box">
          <h4 class="mt-0 font-16">Applications Received</h4>
          <h2 class="text-primary text-center">
            <a routerLink="/loan/applications">{{
              countData.ApplicationsReceived.CountWithFilter
            }}</a>
          </h2>
          <div class="mt-3">
            <h6 class="text-uppercase">
              Total Application Received<span class="float-right">{{
                countData.ApplicationsReceived.Count
              }}</span>
            </h6>
            <ngb-progressbar
              [type]="'success'"
              [value]="
                (countData.ApplicationsReceived.CountWithFilter /
                  countData.ApplicationsReceived.Count) *
                100
              "
              height="5px"
              class="m-0"
            >
            </ngb-progressbar>
          </div>
        </div>
      </div>
      <div class="col-md-8 mt-3">
        <div class="row">
          <div class="col-md-4">
            <div class="card-box">
              <h4 class="mt-0 font-16">
                <span class="text-danger p-0">i</span>PVR Processed
              </h4>
              <h2 class="text-primary text-center">
                <a routerLink="/loan/applications">{{
                  countData.LoanPVRSent.CountWithFilter
                }}</a>
              </h2>
              <div class="mt-3">
                <h6 class="text-uppercase">
                  Total iPVR Processed<span class="float-right">{{
                    countData.LoanPVRSent.Count
                  }}</span>
                </h6>
                <ngb-progressbar
                  [type]="'blue'"
                  [value]="
                    (countData.LoanPVRSent.CountWithFilter /
                      countData.LoanPVRSent.Count) *
                    100
                  "
                  height="5px"
                  class="m-0"
                >
                </ngb-progressbar>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box">
              <h4 class="mt-0 font-16">
                <span class="text-danger p-0">i</span>PVR Pending
              </h4>
              <!-- <h4 class="mt-0 font-16">Lawyer Assignment Pending</h4> -->
              <h2 class="text-primary text-center">
                <a routerLink="/loan/applications">{{
                  countData.LoanPVRInProgress.CountWithFilter
                }}</a>
              </h2>
              <div class="mt-3">
                <h6 class="text-uppercase">
                  Total EC Request Pending<span class="float-right">{{
                    countData.LoanPVRInProgress.Count
                  }}</span>
                </h6>
                <!-- <h6 class="text-uppercase">
                  Total Lawyer Assignment Pending<span class="float-right">{{
                    countData.LawyerAssignmentPending.Count
                  }}</span>
                </h6> -->
                <ngb-progressbar
                  [type]="'danger'"
                  [value]="
                    (countData.LoanPVRInProgress.CountWithFilter /
                      countData.LoanPVRInProgress.Count) *
                    100
                  "
                  height="5px"
                  class="m-0"
                >
                </ngb-progressbar>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box">
              <h4 class="mt-0 font-16">EC Request (12 years and Above)</h4>
              <!-- <h4 class="mt-0 font-16">Lawyer Assignment Pending</h4> -->
              <h2 class="text-primary text-center">
                <a routerLink="/loan/applications">{{
                  countData.LawyerAssignmentPending.CountWithFilter
                }}</a>
              </h2>
              <div class="mt-3">
                <h6 class="text-uppercase">
                  Total EC Request Pending<span class="float-right">{{
                    countData.LawyerAssignmentPending.Count
                  }}</span>
                </h6>
                <!-- <h6 class="text-uppercase">
                  Total Lawyer Assignment Pending<span class="float-right">{{
                    countData.LawyerAssignmentPending.Count
                  }}</span>
                </h6> -->
                <ngb-progressbar
                  [type]="'warning'"
                  [value]="
                    (countData.LawyerAssignmentPending.CountWithFilter /
                      countData.LawyerAssignmentPending.Count) *
                    100
                  "
                  height="5px"
                  class="m-0"
                >
                </ngb-progressbar>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="col-md-4 mt-3">
        <div class="card-box">
          <h4 class="mt-0 font-16">Approved for Physical Verification</h4>
          <h2 class="text-primary text-center">
            <a routerLink="/loan/applications">10</a>
          </h2>
          <div class="mt-3">
            <h6 class="text-uppercase">
              Total Application Approved for Physical Verification<span
                class="float-right"
                >25</span
              >
            </h6>
            <ngb-progressbar
              [type]="'warning'"
              [value]="13"
              height="5px"
              class="m-0"
            >
            </ngb-progressbar>
          </div>
        </div>
      </div> -->
      <!-- <div class="col-md-4 mt-3">
        <div class="card-box">
          <h4 class="mt-0 font-16">Protection Notices</h4>
          <h2 class="text-primary text-center">
            <a routerLink="/loan/applications">3</a>
          </h2>
          <div class="mt-3">
            <h6 class="text-uppercase">
              Total Protection Notices<span class="float-right">20</span>
            </h6>
            <ngb-progressbar
              [type]="'info'"
              [value]="50"
              height="5px"
              class="m-0"
            >
            </ngb-progressbar>
          </div>
        </div>
      </div> -->
      <!-- <div class="col-md-4 mt-3">
        <div class="card-box">
          <h4 class="mt-0 font-16">Pending Valuation</h4>
          <h2 class="text-primary text-center">
            <a routerLink="/loan/applications">5</a>
          </h2>
          <div class="mt-3">
            <h6 class="text-uppercase">
              Total Pending Valuation<span class="float-right">24</span>
            </h6>
            <ngb-progressbar
              [type]="'danger'"
              [value]="13"
              height="5px"
              class="m-0"
            >
            </ngb-progressbar>
          </div>
        </div>
      </div> -->
    </div>
    <div class="row mt-3">
      <div class="col-md-4" *ngIf="currentUser.UserType === 'Bank Manager'">
        <div class="card-box">
          <h3 class="header-title" style="font-size: x-large">
            Loanwise Performance
          </h3>
          <div class="table-responsive" style="height: 450px">
            <table class="table table-borderless mb-0">
              <thead>
                <tr>
                  <th>Type Of Loan</th>
                  <th>Applicaitons</th>
                  <th><span class="text-danger p-0">i</span>PVR Complete</th>
                  <th><span class="text-danger p-0">i</span>PVR In Progress</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of loanTypeData">
                  <td>{{ item.Type_of_Loan }}</td>
                  <td>{{ item.Count_App_By_LoanType }}</td>
                  <td>{{ item.iPVR_Sent_Count }}</td>
                  <td>{{ item.iPVR_In_Progress_Count }}</td>
                </tr>

                <!-- <tr class="text-center">
                  <th colspan="2">
                    Total Value
                    <span style="font-weight: 800; font-size: x-large">
                      ₹28 KCr <a class="fe-arrow-up text-success"></a
                    ></span>
                    2.1%
                  </th>
                </tr> -->
              </tbody>
            </table>
          </div>
          <!-- end table-responsive-->
        </div>
        <!-- end card-box -->
      </div>
      <!-- end col -->
      <div class="col-md-8" *ngIf="currentUser.UserType === 'Bank Manager'">
        <div class="card-box">
          <h3 class="header-title" style="font-size: x-large">
            Loan Applications Received Status
          </h3>
          <div
            class="table-responsive"
            appSlimScroll
            style="height: 450px; overflow: scroll"
          >
            <table
              datatable
              [dtOptions]="dtOptions"
              class="table table-borderless hover"
              width="100%"
            ></table>
          </div>
          <!-- end table-responsive-->
        </div>
        <!-- end card-box -->
      </div>
    </div>
    <div class="row mt-3" *ngIf="!isLoading && !isFilterLoading">
      <div class="col-lg-4">
        <app-portlet
          loading="0"
          title="Market Share by Loan Type"
          color="white"
          collapsed="1"
          headerClass="title header-title border-0 mt-1"
        >
          <div class="card">
            <div class="card-body">
              <div class="morris-chart mt-3" style="height: 276px">
                <apx-chart
                  [chart]="ChartType2"
                  [series]="ChartType2.series"
                  [colors]="ChartType2.colors"
                  [labels]="ChartType2.labels"
                  [dataLabels]="ChartType2.dataLabels"
                  [legend]="ChartType2.legend"
                ></apx-chart>
              </div>
              <h4 class="header-title mt-3">
                <span style="font-size: x-large">
                  {{ countData.ApplicationsReceived.Count }} </span
                >Total Applications
              </h4>
            </div>
          </div>
        </app-portlet>
      </div>
      <div class="col-lg-4">
        <app-portlet
          loading="0"
          title="Marketshare by Loan Amount"
          color="white"
          headerClass="title header-title border-0 mt-1"
          collapsed="1"
        >
          <div class="card">
            <div class="card-body">
              <div class="morris-chart mt-3" style="height: 276px">
                <apx-chart
                  [chart]="ChartType"
                  [series]="ChartType.series"
                  [colors]="ChartType.colors"
                  [labels]="ChartType.labels"
                  [dataLabels]="ChartType.dataLabels"
                  [legend]="ChartType.legend"
                ></apx-chart>
              </div>
              <h4 class="header-title mt-3">
                <span style="font-size: x-large"> 42% </span>5 Lacs to 10 Lacs
              </h4>
            </div>
          </div>
        </app-portlet>
      </div>

      <div class="col-lg-4">
        <app-portlet
          loading="0"
          title="Property Value Marketshare"
          color="white"
          collapsed="1"
          headerClass="title header-title border-0 mt-1"
        >
          <div class="card">
            <div class="card-body">
              <div class="morris-chart mt-3" style="height: 276px">
                <apx-chart
                  [chart]="ChartType3"
                  [series]="ChartType3.series"
                  [colors]="ChartType3.colors"
                  [labels]="ChartType3.labels"
                  [dataLabels]="ChartType3.dataLabels"
                  [legend]="ChartType3.legend"
                ></apx-chart>
              </div>
              <h4 class="header-title mt-3">
                <span style="font-size: x-large"> ₹1728 KCr </span>Total Value
              </h4>
            </div>
          </div>
        </app-portlet>
      </div>
    </div>
  </div>
  <div
    class="loan-dashboard-body mx-3"
    *ngIf="currentUser.UserType === 'Lawyer'"
  >
    <div class="row mb-3">
      <div class="col-9"></div>
      <div class="col-3">
        <form class="navbar-form" role="search">
          <div class="input-group float-right">
            <input
              type="text"
              class="form-control date"
              placeholder="All Time"
              (click)="hidden = !hidden"
              name="daterange"
              autocomplete="off"
              (keydown)="callback()"
              [(ngModel)]="selected"
            />

            <ngb-datepicker
              #dp
              style="margin-top: 40px; max-width: 100%; overflow-x: scroll"
              (select)="onDateSelection($event)"
              [displayMonths]="2"
              [dayTemplate]=""
              outsideDays="hidden"
              [hidden]="hidden"
            >
            </ngb-datepicker>
            <div class="input-group-btn">
              <button
                (click)="hidden = !hidden"
                class="btn btn-primary"
                type="submit"
              >
                <i class="far fa-calendar-alt"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card-box">
          <div class="row">
            <div class="col-lg-6">
              <form class="form-inline">
                <div class="form-group">
                  <label for="inputPassword2" class="sr-only"
                    >Search Applicant</label
                  >
                  <input
                    type="search"
                    class="form-control"
                    id="inputPassword2"
                    placeholder="Search Applicant..."
                  />
                </div>
                <div class="form-group mx-sm-3">
                  <label for="status-select" class="mr-2">Sort By</label>
                  <select class="custom-select" id="status-select">
                    <option>Select</option>
                    <option>Date</option>
                    <option selected="">Bank</option>
                    <option>Branch</option>
                    <option>Name</option>
                  </select>
                </div>
              </form>
            </div>

            <div class="col-lg-6">
              <div class="text-lg-left mt-3 mt-lg-0">
                <!-- <button type="button" class="btn btn-success waves-effect waves-light mr-1"><i class="mdi mdi-cog"></i></button> -->
                <!-- <button type="button" class="btn btn-danger waves-effect waves-light mr-1"> --><a
                  ><button
                    type="button"
                    class="btn btn-outline-info waves-effect waves-light mr-1"
                    routerLink="/loan/assignment"
                  >
                    <span aria-hidden="true"
                      ><i class="mdi mdi-home-circle mr-1"></i>1 New
                      Assignment</span
                    >
                  </button></a
                >
                <!-- <button type="button" class="btn btn-light waves-effect waves-light mr-1"><i class="mdi mdi-plus-circle mr-1"></i> Add New Title Search</button> -->
              </div>
            </div>
            <!-- end col-->
          </div>
          <!-- end row -->
        </div>
        <!-- end card-box -->
      </div>
      <!-- end col-->
    </div>
    <div class="row" *ngIf="!isFilterLoading">
      <div class="col-md-6 col-xl-3">
        <div class="widget-rounded-circle card-box">
          <div class="row">
            <div class="col-6">
              <div
                class="avatar-lg rounded-circle bg-soft-primary border-primary border"
              >
                <a routerLink="/loan/assignment"
                  ><i class="fe-briefcase font-22 avatar-title text-primary"></i
                ></a>
              </div>
            </div>
            <div class="col-6">
              <div class="text-right">
                <h3 class="mt-1">
                  &nbsp;<a class="text-body" routerLink="/loan/assignment"
                    ><span data-plugin="counterup">{{
                      countData.LoanAssignmentReceived.Count
                    }}</span></a
                  >
                </h3>
                <p class="text-muted mb-1">
                  <small
                    ><a class="text-body" routerLink="/loan/assignment"
                      >Assignments Received</a
                    ></small
                  >
                </p>
              </div>
            </div>
          </div>
          <!-- end row-->
          <div class="mt-3">
            <h6 class="text-uppercase">
              <a class="text-body" routerLink="/loan/assignment"
                >Completed<span class="float-right">{{
                  countData.LoanAssignmentReceived.CountWithFilter
                }}</span></a
              >
            </h6>
            <!-- <div class="progress progress-sm m-0">
              <div
                class="progress-bar bg-blue"
                role="progressbar"
                aria-valuenow="90"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: 90%"
              >
                <span class="sr-only">100 Assignments Complete</span>
              </div> -->
            <ngb-progressbar
              [value]="
                (countData.LoanAssignmentReceived.CountWithFilter /
                  countData.LoanAssignmentReceived.Count) *
                100
              "
              height="5px"
              class="m-0 bg-blue"
            >
            </ngb-progressbar>
            <!-- </div> -->
          </div>
        </div>
        <!-- end widget-rounded-circle-->
      </div>
      <!-- end col-->
      <!-- 
      <div class="col-md-6 col-xl-3">
        <div class="widget-rounded-circle card-box">
          <div class="row">
            <div class="col-6">
              <div
                class="avatar-lg rounded-circle bg-soft-success border-success border"
              >
                <a class="text-body" routerLink="/loan/assignment"
                  ><i class="fe-aperture font-22 avatar-title text-success"></i
                ></a>
              </div>
            </div>
            <div class="col-6">
              <div class="text-right">
                <h3 class="text-dark mt-1">
                  <a routerLink="/loan/assignment" class="text-body">
                    <span data-plugin="counterup">{{
                      countData.LoanSearchInProgress.Count
                    }}</span></a
                  >
                </h3>
                <p class="text-muted mb-1">
                  <small
                    ><a routerLink="/loan/assignment" class="text-body"
                      >Search in Progress</a
                    ></small
                  >
                </p>
              </div>
            </div>
          </div>
    
          <div class="mt-3">
            <h6 class="text-uppercase">
              <a class="text-body" routerLink="/loan/assignment"
                >In Final Stages<span class="float-right">{{
                  countData.LoanSearchInProgress.CountWithFilter
                }}</span></a
              >
            </h6>
            <ngb-progressbar
              [value]="
                (countData.LoanSearchInProgress.CountWithFilter /
                  countData.LoanSearchInProgress.Count) *
                100
              "
              height="5px"
              class="m-0 bg-success"
            >
            </ngb-progressbar>
          </div>
        </div>
       
      </div> -->
      <!-- end col-->

      <!-- <div class="col-md-6 col-xl-3">
        <div class="widget-rounded-circle card-box">
          <div class="row">
            <div class="col-6">
              <div
                class="avatar-lg rounded-circle bg-light border-secondary border"
              >
                <a routerLink="/loan/assignment"
                  ><i
                    class="mdi mdi-newspaper font-22 avatar-title text-secondary"
                  ></i
                ></a>
              </div>
            </div>
            <div class="col-6">
              <div class="text-right">
                <h3 class="mt-1">
                  &nbsp;<a class="text-body" routerLink="/loan/assignment"
                    ><span data-plugin="counterup">{{
                      countData.PublicNoticeInProgress.Count
                    }}</span></a
                  >
                </h3>
                <p class="text-muted mb-1">
                  <small
                    ><a class="text-body" routerLink="/loan/assignment"
                      >Public Notices in Progress</a
                    ></small
                  >
                </p>
              </div>
            </div>
          </div>

          <div class="mt-3">
            <h6 class="text-uppercase">
              <a class="text-body" routerLink="/loan/assignment"
                >Issued<span class="float-right">{{
                  countData.PublicNoticeInProgress.CountWithFilter
                }}</span></a
              >
            </h6>
            <ngb-progressbar
              [value]="
                (countData.PublicNoticeInProgress.CountWithFilter /
                  countData.PublicNoticeInProgress.Count) *
                100
              "
              height="5px"
              class="m-0 bg-secondary"
            >
            </ngb-progressbar>
          </div>
        </div>
      </div> -->
      <!-- end col-->

      <!-- <div class="col-md-6 col-xl-3">
        <div class="widget-rounded-circle card-box">
          <div class="row">
            <div class="col-6">
              <div
                class="avatar-lg rounded-circle bg-soft-blue border-blue border"
              >
                <a class="text-body" routerLink="/loan/assignment"
                  ><i
                    class="mdi mdi-chess-king font-22 avatar-title text-blue"
                  ></i
                ></a>
              </div>
            </div>
            <div class="col-6">
              <div class="text-right">
                <h3 class="text-dark mt-1">
                  <a routerLink="/loan/assignment" class="text-body">
                    <span data-plugin="counterup">{{
                      countData.TitleClearInProgress.Count
                    }}</span></a
                  >
                </h3>
                <p class="text-muted mb-1">
      <small
                    ><a routerLink="/loan/assignment" class="text-body">
                      Title Clear in Progress</a
                    ></small
                  >
                </p>
              </div>
            </div>
          </div>

          <div class="mt-3">
            <h6 class="text-uppercase">
              <a class="text-body" routerLink="/loan/assignment"
                >Pending<span class="float-right">{{
                  countData.TitleClearInProgress.CountWithFilter
                }}</span></a
              >
            </h6>
            <ngb-progressbar
              [value]="
                (countData.TitleClearInProgress.CountWithFilter /
                  countData.TitleClearInProgress.Count) *
                100
              "
              height="5px"
              class="m-0 bg-blue"
            >
            </ngb-progressbar>
          </div>
        </div>
      </div> -->
      <!-- end col-->
    </div>
    <div class="row">
      <div class="col-md-4 col-xl-4">
        <div class="widget-rounded-circle card-box">
          <div class="row">
            <div class="col-6">
              <div
                class="avatar-lg rounded-circle bg-light border-warning border"
              >
                <a class="text-body" routerLink="/loan/assignment"
                  ><i
                    class="fe-alert-triangle font-22 avatar-title text-info"
                  ></i
                ></a>
              </div>
            </div>
            <div class="col-6">
              <div class="text-right">
                <h3 class="text-dark mt-1">
                  <a class="text-body" routerLink="/loan/assignment"
                    ><span data-plugin="counterup">3</span></a
                  >
                </h3>
                <p class="text-muted mb-1">
                  <small
                    ><a class="text-body" routerLink="/loan/assignment"
                      >PVR Search Alerts</a
                    ></small
                  >
                </p>
              </div>
            </div>
          </div>
          <!-- end row-->
          <div class="mt-3">
            <h6 class="text-uppercase">
              <a class="text-body" routerLink="/loan/assignment"
                >Verified by PropLegit PVR<span class="float-right"
                  >10<small></small></span
              ></a>
            </h6>
            <div class="progress progress-sm m-0">
              <div
                class="progress-bar bg-soft-success"
                role="progressbar"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: 100%"
              >
                <span class="sr-only">PropLegit PVR</span>
              </div>
            </div>
          </div>
        </div>
        <!-- end widget-rounded-circle-->
      </div>
      <div class="col-md-4 col-xl-4">
        <div class="widget-rounded-circle card-box">
          <div class="row">
            <div class="col-6">
              <div
                class="avatar-lg rounded-circle bg-soft-info border-info border"
              >
                <a class="text-body" routerLink="/loan/assignment"
                  ><i class="fe-file-text font-22 avatar-title text-info"></i
                ></a>
              </div>
            </div>
            <div class="col-6">
              <div class="text-right">
                <h3 class="text-dark mt-1">
                  <a class="text-body" routerLink="/loan/assignment"
                    ><span data-plugin="counterup">6</span></a
                  >
                </h3>
                <p class="text-muted mb-1">
                  <small
                    ><a class="text-body" routerLink="/loan/assignment"
                      >New Docs Received</a
                    ></small
                  >
                </p>
              </div>
            </div>
          </div>
          <!-- end row-->
          <div class="mt-3">
            <h6 class="text-uppercase">
              <a class="text-body" routerLink="/loan/assignment"
                >Docs Review Pending<span class="float-right"
                  >46/<small>72</small></span
                ></a
              >
            </h6>
            <div class="progress progress-sm m-0">
              <div
                class="progress-bar bg-info"
                role="progressbar"
                aria-valuenow="46"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: 46%"
              >
                <span class="sr-only">46 Documents Pending Review</span>
              </div>
            </div>
          </div>
        </div>
        <!-- end widget-rounded-circle-->
      </div>
      <div class="col-md-4 col-xl-4">
        <div class="widget-rounded-circle card-box">
          <div class="row">
            <div class="col-6">
              <div
                class="avatar-lg rounded-circle bg-soft-warning border-warning border"
              >
                <a class="text-body" routerLink="/loan/assignment"
                  ><i class="fe-file-plus font-22 avatar-title text-warning"></i
                ></a>
              </div>
            </div>
            <div class="col-6">
              <div class="text-right">
                <h3 class="text-dark mt-1">
                  <a class="text-body" routerLink="/loan/assignment"
                    ><span data-plugin="counterup">7</span></a
                  >
                </h3>
                <p class="text-muted mb-1">
                  <a class="text-body" routerLink="/loan/assignment"
                    ><small>Documents Awaited</small></a
                  >
                </p>
              </div>
            </div>
          </div>
          <!-- end row-->
          <div class="mt-3">
            <h6 class="text-uppercase">
              <a class="text-body" routerLink="/loan/assignment"
                >Docs Requested<span class="float-right"
                  >12/<small>19</small></span
                ></a
              >
            </h6>
            <div class="progress progress-sm m-0">
              <div
                class="progress-bar bg-warning"
                role="progressbar"
                aria-valuenow="30"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: 93%"
              >
                <span class="sr-only">12 Documents Requested</span>
              </div>
            </div>
          </div>
        </div>
        <!-- end widget-rounded-circle-->
      </div>
    </div>
  </div>
  <div class="card-disabled" *ngIf="isLoading || isFilterLoading">
    <div class="card-portlets-loader"></div>
  </div>
</section>
