// table {
//     width: 100%;
//     font: 100% "Open Sans", sans-serif;
//     -moz-osx-font-smoothing: grayscale;
//     -webkit-font-smoothing: antialiased;
//     color: #151b1e;
//     text-align: left;
//     background-color: #fff;
//   }
.ng-select {
  margin: 0;
  padding: 0;
}

.form-control {
  height: inherit !important;
}
