<!-- <div class="container-fluid">


  <div class="row">
    <div class="col">
      <table class="table table-hover table-striped">
        <thead>
          <tr class="table-active">
            <th>Property RentID</th>
            <th>Tenant Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Mobile No</th>
            <th>Monthly Rent</th>
            <th>Detail</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let element of datasource">
            <td>{{ element.PropertyRentID }}</td>
            <td class="mains">{{ element.TenantName | titlecase }}</td>
            <td>{{ element.TenantAddress | titlecase }}</td>
            <td>{{ element.TenantEmail }}</td>
            <td>{{ element.TenantMobile }}</td>
            <td>{{ element.MonthlyRent }}</td>

            <td>
              <a href="#" [routerLink]="['/rent/view', element.PropertyRentID]">
                <i class="mdi mdi-eye-check"></i
              ></a>
            </td>
            <td>
              <a href="#" [routerLink]="['/rent/edit', element.PropertyRentID]">
                <i class="mdi mdi-account-edit"></i>
              </a>
            </td>
            <td>
              <a
                href="javascript:void(0);"
                (click)="onDeleteTenant(element.PropertyRentID)"
              >
                <i class="mdi mdi-delete"></i
              ></a>
            </td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>
</div> -->
<section class="row">
  <div class="col-md-8 table-responsive">
    <table
      datatable
      [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger"
      class="table row-border hover thead-dark"
    ></table>
    <div class="card-disabled" *ngIf="!isLoaded">
      <div class="card-portlets-loader"></div>
    </div>
  </div>
  <div class="col-md-4">
    <app-add-rent propertyId="{{ this.propertyID }}"></app-add-rent>
  </div>
</section>
