<div class="account-pages mt-5 mb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-pattern">
          <div class="card-body p-4">
            <!-- Logo -->
            <div class="text-center w-75 m-auto">
              <a routerLink="/account/login">
                <img
                  src="assets/images/PropLegit-Logob-02.svg"
                  alt=""
                  height="70"
                />
              </a>
              <p class="text-muted mb-4 mt-3">
                Enter your email address or phone number and we'll send you an
                email and SMS with OTP to reset your password.
              </p>
            </div>
            <aw-wizard #wizardForm>
              <aw-wizard-step>
                <form
                  class="needs-validation"
                  name="resetForm"
                  [formGroup]="resetForm"
                  (ngSubmit)="onSubmit()"
                  novalidate
                >
                  <app-ui-preloader [display]="loading"></app-ui-preloader>

                  <ngb-alert
                    type="danger"
                    *ngIf="error"
                    [dismissible]="false"
                    >{{ error }}</ngb-alert
                  >
                  <ngb-alert
                    type="success"
                    *ngIf="success"
                    [dismissible]="false"
                    >{{ success }}</ngb-alert
                  >

                  <div class="form-group mb-3" *ngIf="!success">
                    <label for="email">Email / Phone Number *</label>

                    <input
                      type="email"
                      formControlName="EmailORMobile"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': submitted && f.EmailORMobile.errors
                      }"
                      id="email"
                      placeholder="Email or Phone Number"
                    />

                    <div
                      *ngIf="submitted && f.EmailORMobile.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.EmailORMobile.errors.required">
                        Email or Phone number is required
                      </div>
                      <div *ngIf="f.EmailORMobile.errors.pattern">
                        Email or phone number must be a valid
                      </div>
                    </div>
                  </div>

                  <div class="form-group mb-0 text-center" *ngIf="!success">
                    <button class="btn btn-primary btn-block" type="submit">
                      Submit
                    </button>
                  </div>
                </form>
              </aw-wizard-step>
              <aw-wizard-step>
                <form
                  class="needs-validation"
                  name="confirmform"
                  [formGroup]="confirmForm"
                  (ngSubmit)="onConfirmSubmit()"
                  novalidate
                >
                  <app-ui-preloader [display]="loading"></app-ui-preloader>

                  <ngb-alert
                    type="danger"
                    *ngIf="error"
                    [dismissible]="false"
                    >{{ error }}</ngb-alert
                  >
                  <ngb-alert
                    type="success"
                    *ngIf="success"
                    [dismissible]="false"
                    >{{ success }}</ngb-alert
                  >
                  <div class="form-group mb-3">
                    <label for="emailotp">OTP *</label>
                    <ng-otp-input
                      #emailOtpInput
                      type="text"
                      [ngClass]="{
                        'is-invalid': submitted && e.OTP.errors
                      }"
                      [config]="{
                        length: 6,
                        disableAutoFocus: false,
                        allowNumbersOnly: true
                      }"
                      (onInputChange)="onEmailOtpChange($event)"
                      formControlName="OTP"
                      id="emailotp"
                      ngDefaultControl
                    >
                    </ng-otp-input>
                    <div
                      *ngIf="submitted && e.OTP.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="e.OTP.errors.required">OTP is required</div>
                      <div *ngIf="e.OTP.errors.pattern">
                        OTP must be 6 character long and no spacial character
                        allowed
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <label for="password">New Password *</label>

                    <input
                      type="password"
                      formControlName="Password"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': submitted && e.Password.errors
                      }"
                      id="password"
                      placeholder="Enter New Password"
                    />

                    <div
                      *ngIf="submitted && e.Password.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="e.Password.errors.required">
                        Password is required
                      </div>
                      <div *ngIf="e.Password.errors.pattern">
                        Password must have at least 1 Lowercase letter, 1
                        Uppercase letter, 1 Number, 1 Special character and At
                        least 8 characters long
                      </div>
                    </div>
                  </div>

                  <div class="form-group mb-0 text-center">
                    <button class="btn btn-primary btn-block" type="submit">
                      Submit
                    </button>
                  </div>
                </form>
              </aw-wizard-step>
            </aw-wizard>
          </div>
          <!-- end card-body-->
        </div>
        <!-- end card -->

        <div class="row mt-3">
          <div class="col-12 text-center">
            <p class="text-white-50">
              Back to
              <a routerLink="/account/login" class="text-white ml-1"
                ><b>Log In</b></a
              >
            </p>
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->

<footer class="footer footer-alt">
  Copyright © 2020 <a href="" class="text-white-50">proplegit.com</a> All rights
  reserved
</footer>
