<form [formGroup]="myForm" novalidate (ngSubmit)="save()">
  <div class="content">
    <!-- Start Content-->
    <div class="container-fluid">
      <!-- start page title -->
      <app-page-title
        title="Add New Property"
        [breadcrumbItems]="breadCrumbItems"
      ></app-page-title>

      <!-- end page title -->

      <div class="row">
        <div class="col-md-12 col-xl-12">
          <div class="card">
            <div class="card-body">
              <div class="card-widgets"></div>
              <h5
                class="header-title mb-0"
                style="color: darkgrey; font-size: 18px"
              >
                Property Information
              </h5>
              <hr />
              <div id="cardCollpase4" class="collapse pt-3 show">
                <div class="pn-main">
                  <div class="form-row">
                    <div class="col-md-6">
                      <label for="">Area/Pin Code</label>
                      <div class="form-group">
                        <ng-autocomplete
                          [data]="areas"
                          [searchKeyword]="keyword"
                          placeHolder="Enter Area/Pin code"
                          (selected)="selectEvent($event)"
                          (inputChanged)="onChangeSearch($event)"
                          (inputFocused)="onFocused($event)"
                          historyIdentifier="areas"
                          [itemTemplate]="itemTemplate"
                          [notFoundTemplate]="notFoundTemplate"
                        >
                        </ng-autocomplete>

                        <ng-template #itemTemplate let-item>
                          <a [innerHTML]="item.Area"></a>
                        </ng-template>

                        <ng-template #notFoundTemplate let-notFound>
                          <div [innerHTML]="notFound"></div>
                        </ng-template>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="">PropertyTypeID</label>
                      <select
                        class="custom-select"
                        formControlName="PropertyTypeID"
                      >
                        <option
                          *ngFor="let type of Array5"
                          [value]="type.PropertyTypeID"
                        >
                          {{ type.PropertyType }}
                        </option>
                      </select>
                      <span
                        *ngIf="
                          myForm.get('PropertyTypeID').touched &&
                          myForm.get('PropertyTypeID').invalid &&
                          myForm.get('PropertyTypeID').errors &&
                          myForm.get('PropertyTypeID').errors.required
                        "
                        style="color: red; font-size: smaller"
                        >*Required</span
                      >
                    </div>

                    <div class="form-group col-md-6">
                      <label for="">Property Name</label>
                      <input
                        class="form-control"
                        placeholder="Enter Property Name"
                        formControlName="PropertyName"
                      />

                      <span
                        *ngIf="
                          myForm.get('PropertyName').touched &&
                          myForm.get('PropertyName').invalid
                        "
                      >
                        <span
                          *ngIf="
                            myForm.get('PropertyName').errors &&
                            myForm.get('PropertyName').errors.required
                          "
                          style="color: red; font-size: smaller"
                        >
                          *Required</span
                        >
                      </span>
                    </div>

                    <div class="form-group col-md-6">
                      <label for="">City Survey No</label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Enter City Survey No"
                        formControlName="CitySurveyNo"
                      />
                      <span
                        *ngIf="
                          myForm.get('CitySurveyNo').touched &&
                          myForm.get('CitySurveyNo').invalid &&
                          myForm.get('CitySurveyNo').errors &&
                          myForm.get('CitySurveyNo').errors.required
                        "
                        style="color: red; font-size: smaller"
                        >*Required</span
                      >
                    </div>

                    <div class="form-group col-md-6">
                      <label for="">City Survey Office</label>
                      <input
                        class="form-control"
                        placeholder="Enter City Survey Office"
                        formControlName="CitySurveyOffice"
                      />
                      <span
                        *ngIf="
                          myForm.get('CitySurveyOffice').touched &&
                          myForm.get('CitySurveyOffice').invalid &&
                          myForm.get('CitySurveyOffice').errors &&
                          myForm.get('CitySurveyOffice').errors.required
                        "
                        style="color: red; font-size: smaller"
                        >*Required</span
                      >
                    </div>

                    <div class="form-group col-md-6">
                      <label for="">City Ward No</label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Enter City Ward No"
                        formControlName="CityWardNo"
                      />
                      <span
                        *ngIf="
                          myForm.get('CityWardNo').touched &&
                          myForm.get('CityWardNo').invalid &&
                          myForm.get('CityWardNo').errors &&
                          myForm.get('CityWardNo').errors.required
                        "
                        style="color: red; font-size: smaller"
                        >*Required</span
                      >
                    </div>

                    <div class="form-group col-md-6">
                      <label for="">City Ward Name</label>
                      <input
                        class="form-control"
                        placeholder="Enter City Ward Name"
                        formControlName="CityWardName"
                      />
                      <span
                        *ngIf="
                          myForm.get('CityWardName').touched &&
                          myForm.get('CityWardName').invalid &&
                          myForm.get('CityWardName').errors &&
                          myForm.get('CityWardName').errors.required
                        "
                        style="color: red; font-size: smaller"
                        >*Required</span
                      >
                    </div>

                    <div class="form-group col-md-6">
                      <label for="">Sheet No</label>
                      <input
                        class="form-control"
                        type="number"
                        placeholder="Enter Sheet No"
                        formControlName="SheetNumber"
                      />
                      <span
                        *ngIf="
                          myForm.get('SheetNumber').touched &&
                          myForm.get('SheetNumber').invalid &&
                          myForm.get('SheetNumber').errors &&
                          myForm.get('SheetNumber').errors.required
                        "
                        style="color: red; font-size: smaller"
                        >*Required</span
                      >
                    </div>

                    <div class="form-group col-md-6">
                      <label for="">Building No</label>
                      <input
                        class="form-control"
                        placeholder="Enter Building No"
                        formControlName="BuildingNo"
                      />
                      <span
                        *ngIf="
                          myForm.get('BuildingNo').touched &&
                          myForm.get('BuildingNo').invalid &&
                          myForm.get('BuildingNo').errors &&
                          myForm.get('BuildingNo').errors.required
                        "
                        style="color: red; font-size: smaller"
                        >*Required</span
                      >
                    </div>

                    <div class="form-group col-md-6">
                      <label for="">Building Name</label>
                      <input
                        class="form-control"
                        placeholder="Enter Building Name"
                        formControlName="BuildingName"
                      />
                      <span
                        *ngIf="
                          myForm.get('BuildingName').touched &&
                          myForm.get('BuildingName').invalid &&
                          myForm.get('BuildingName').errors &&
                          myForm.get('BuildingName').errors.required
                        "
                        style="color: red; font-size: smaller"
                        >*Required</span
                      >
                    </div>

                    <div class="form-group col-md-6">
                      <label for="">Record Date</label>
                      <input
                        type="date"
                        class="form-control"
                        formControlName="RecordDate"
                      />
                      <span
                        *ngIf="
                          myForm.get('RecordDate').touched &&
                          myForm.get('RecordDate').invalid &&
                          myForm.get('RecordDate').errors &&
                          myForm.get('RecordDate').errors.required
                        "
                        style="color: red; font-size: smaller"
                        >*Required</span
                      >
                    </div>

                    <div class="form-group col-md-6">
                      <label for="">Milkatno PropId</label>
                      <input
                        class="form-control"
                        placeholder="Enter Milkatno PropId"
                        type="number"
                        formControlName="milkatno_propId"
                      />
                      <span
                        *ngIf="
                          myForm.get('milkatno_propId').touched &&
                          myForm.get('milkatno_propId').invalid &&
                          myForm.get('milkatno_propId').errors &&
                          myForm.get('milkatno_propId').errors.required
                        "
                        style="color: red; font-size: smaller"
                        >*Required</span
                      >
                    </div>

                    <div class="form-group col-md-6">
                      <label for="">Revenew Office Type </label>
                      <select
                        class="custom-select"
                        formControlName="RevenewOfficeType"
                      >
                        <option value="Talati" selected id="4">Talati</option>
                        <option value="Gram Panchayat" id="5">
                          Gram Panchayat
                        </option>
                        <option value="Municipal Corporation" id="6">
                          Municipal Corporation
                        </option>
                        <option value="Nagarpalika Office" id="7">
                          Nagarpalika Office
                        </option>
                      </select>
                      <span
                        *ngIf="
                          myForm.get('RevenewOfficeType').touched &&
                          myForm.get('RevenewOfficeType').invalid &&
                          myForm.get('RevenewOfficeType').errors &&
                          myForm.get('RevenewOfficeType').errors.required
                        "
                        style="color: red; font-size: smaller"
                        >*Required</span
                      >
                    </div>

                    <div class="form-group col-md-6">
                      <label for="">SurveyNo</label>
                      <input
                        class="form-control"
                        placeholder="Enter Survey No"
                        type="number"
                        formControlName="SurveyNo"
                      />
                      <span
                        *ngIf="
                          myForm.get('SurveyNo').touched &&
                          myForm.get('SurveyNo').invalid &&
                          myForm.get('SurveyNo').errors &&
                          myForm.get('SurveyNo').errors.required
                        "
                        style="color: red; font-size: smaller"
                        >*Required</span
                      >
                    </div>

                    <div class="form-group col-md-6">
                      <label for="">TP No</label>
                      <input
                        class="form-control"
                        placeholder="Enter TP No"
                        type="number"
                        formControlName="TPNo"
                      />
                      <span
                        *ngIf="
                          myForm.get('TPNo').touched &&
                          myForm.get('TPNo').invalid &&
                          myForm.get('TPNo').errors &&
                          myForm.get('TPNo').errors.required
                        "
                        style="color: red; font-size: smaller"
                        >*Required</span
                      >
                    </div>

                    <div class="form-group col-md-6">
                      <label for="">FP No</label>
                      <input
                        class="form-control"
                        placeholder="Enter FP No"
                        type="number"
                        formControlName="FPNo"
                      />
                      <span
                        *ngIf="
                          myForm.get('FPNo').touched &&
                          myForm.get('FPNo').invalid &&
                          myForm.get('FPNo').errors &&
                          myForm.get('FPNo').errors.required
                        "
                        style="color: red; font-size: smaller"
                        >*Required</span
                      >
                    </div>
                  </div>

                  <h5
                    class="header-title mb-0"
                    style="color: darkgrey; padding-top: 2%; font-size: 18px"
                  >
                    Other Information
                  </h5>
                  <hr />

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="">Land Size</label>
                      <input
                        class="form-control"
                        placeholder="Enter Landsize"
                        formControlName="LandSize"
                      />
                      <span
                        *ngIf="
                          myForm.get('LandSize').touched &&
                          myForm.get('LandSize').invalid &&
                          myForm.get('LandSize').errors &&
                          myForm.get('LandSize').errors.required
                        "
                        style="color: red; font-size: smaller"
                        >*Required</span
                      >
                    </div>

                    <div class="form-group col-md-6">
                      <label for="">Water Availability</label>
                      <input
                        class="form-control"
                        placeholder="Water Availability"
                        formControlName="WaterAvailability"
                      />
                      <span
                        *ngIf="
                          myForm.get('WaterAvailability').touched &&
                          myForm.get('WaterAvailability').invalid &&
                          myForm.get('WaterAvailability').errors &&
                          myForm.get('WaterAvailability').errors.required
                        "
                        style="color: red; font-size: smaller"
                        >*Required</span
                      >
                    </div>

                    <div class="form-group col-md-6">
                      <label for="">Furnish Type </label>
                      <select
                        class="custom-select"
                        formControlName="FurnishType"
                      >
                        <option value="Full Furnished" id="4" selected>
                          Full Furnished
                        </option>
                        <option value="Semi Furnished" id="9">
                          Semi Furnished
                        </option>
                        <option value="UnFurnished" id="3">UnFurnished</option>
                      </select>
                      <span
                        *ngIf="
                          myForm.get('FurnishType').touched &&
                          myForm.get('FurnishType').invalid &&
                          myForm.get('FurnishType').errors &&
                          myForm.get('FurnishType').errors.required
                        "
                        style="color: red; font-size: smaller"
                        >*Required</span
                      >
                    </div>

                    <div class="form-group col-md-6">
                      <label for="">Status Of Electricity </label>
                      <select
                        class="custom-select"
                        formControlName="StatusOfElectricity"
                      >
                        <option value="No PowerCut" id="3" selected>
                          No PowerCut
                        </option>
                        <option value="Rare PoweCut" id="5">
                          Rare PoweCut
                        </option>
                        <option value="Every Sunday Power Cut" id="1">
                          Every Sunday Power Cut
                        </option>
                      </select>
                      <span
                        *ngIf="
                          myForm.get('StatusOfElectricity').touched &&
                          myForm.get('StatusOfElectricity').invalid &&
                          myForm.get('StatusOfElectricity').errors &&
                          myForm.get('StatusOfElectricity').errors.required
                        "
                        style="color: red; font-size: smaller"
                        >*Required</span
                      >
                    </div>

                    <div class="form-group mb-2 col-md-6 col-xl-6">
                      <label for="example-textarea">Description</label>
                      <textarea
                        class="form-control"
                        rows="2"
                        formControlName="Description"
                      ></textarea>
                      <span
                        *ngIf="
                          myForm.get('Description').touched &&
                          myForm.get('Description').invalid &&
                          myForm.get('Description').errors &&
                          myForm.get('Description').errors.required
                        "
                        style="color: red; font-size: smaller"
                        >*Required</span
                      >
                    </div>

                    <div class="form-group mb-2 col-md-6 col-xl-6">
                      <label for="example-textarea">Postal Address</label>
                      <textarea
                        class="form-control"
                        rows="2"
                        formControlName="PostalAddress"
                      ></textarea>
                      <span
                        *ngIf="
                          myForm.get('PostalAddress').touched &&
                          myForm.get('PostalAddress').invalid &&
                          myForm.get('PostalAddress').errors &&
                          myForm.get('PostalAddress').errors.required
                        "
                        style="color: red; font-size: smaller"
                        >*Required</span
                      >
                    </div>

                    <div class="form-group col-md-6">
                      <label for=""
                        >Age Of Property <small>(In Years)</small></label
                      >
                      <input
                        class="form-control"
                        placeholder="Enter Age of property"
                        type="number"
                        formControlName="AgeOfProperty"
                      />

                      <span
                        *ngIf="
                          myForm.get('AgeOfProperty').touched &&
                          myForm.get('AgeOfProperty').invalid &&
                          myForm.get('AgeOfProperty').errors &&
                          myForm.get('AgeOfProperty').errors.required
                        "
                        style="color: red; font-size: smaller"
                        >*Required</span
                      >
                    </div>

                    <div class="form-group col-md-6">
                      <label for="">No of BHK</label>
                      <select class="custom-select" formControlName="NoOfBHK">
                        <option value="1" id="4" selected>1</option>
                        <option value="2" id="1">2</option>
                        <option value="3" id="3">3</option>
                        <option value="4" id="4">4</option>
                        <option value="5" id="8">5</option>
                        <option value="6" id="5">More than 5</option>
                      </select>
                      <span
                        *ngIf="
                          myForm.get('NoOfBHK').touched &&
                          myForm.get('NoOfBHK').invalid &&
                          myForm.get('NoOfBHK').errors &&
                          myForm.get('NoOfBHK').errors.required
                        "
                        style="color: red; font-size: smaller"
                        >*Required</span
                      >
                    </div>
                  </div>

                  <h5
                    class="header-title mb-0"
                    style="color: darkgrey; padding-top: 2%; font-size: 18px"
                  >
                    Owner Information
                  </h5>
                  <hr />

                  <div>
                    <div formArrayName="OwnerShip">
                      <div
                        *ngFor="
                          let owner of myForm.get('OwnerShip').controls;
                          let i = index
                        "
                      >
                        <div class="form-row" [formGroupName]="i">
                          <div class="form-group col-md-6">
                            <label>Owner Name</label>
                            <input
                              type="text"
                              class="form-control"
                              formControlName="OwnerName"
                            />
                         
                          </div>
                          <div class="form-group col-md-6">
                            <label>Since From</label>
                            <input
                              type="date"
                              class="form-control"
                              formControlName="SinceFrom"
                            />
                          
                          </div>
                          <div class="form-group col-md-12">
                            <span
                              class="glyphicon glyphicon-remove pull-right"
                              style="cursor: pointer; color: red"
                              *ngIf="
                                myForm.get('OwnerShip').length > 1
                              "
                              (click)="removeOwner(i)"
                            >
                              (Remove -)
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="margin-20">
                    <a (click)="addOwner()" style="cursor: pointer">
                      Add another owner +
                    </a>
                  </div>
                  <h5
                    class="header-title mb-0"
                    style="color: darkgrey; padding-top: 2%; font-size: 18px"
                  >
                    InCharge Information
                  </h5>
                  <hr />
                  <div class="">
                    <div formArrayName="InCharge">
                      <div
                        class=""
                        *ngFor="
                          let in_charge of myForm.get('InCharge').controls;
                          let i = index
                        "
                        class="panel panel-default"
                      >
                        <div class="panel-heading">
                          <span
                            class="glyphicon glyphicon-remove pull-right"
                            style="cursor: pointer; color: red"
                            *ngIf="myForm.get('InCharge').length > 1"
                            (click)="removeIncharge(i)"
                          >
                            (Remove -)
                          </span>
                        </div>
                        <div class="form-row" [formGroupName]="i">
                          <div class="form-group col-md-6">
                            <label>InChargeName</label>
                            <input
                              type="text"
                              class="form-control"
                              formControlName="InChargeName"
                            />
                       
                          </div>
                          <div class="form-group col-md-6">
                            <label>Designation</label>
                            <input
                              type="text"
                              class="form-control"
                              formControlName="Designation"
                            />
                          
                          </div>
                          <div class="form-group col-md-6">
                            <label>InChargeType</label>
                            <input
                              type="text"
                              class="form-control"
                              formControlName="InChargeType"
                            />
                         
                          </div>
                          <div class="form-group col-md-6">
                            <label>MobileNo</label>
                            <input
                              type="text"
                              class="form-control"
                              formControlName="MobileNo"
                            />
                          
                          </div>

                          <div class="form-group col-md-6">
                            <label>Email</label>
                            <input
                              type="email"
                              class="form-control"
                              formControlName="Email"
                            />
                           
                          </div>
                          <div class="form-group col-md-6">
                            <label>Address</label>
                            <input
                              type="text"
                              class="form-control"
                              formControlName="Address"
                            />
                          
                          </div>
                          <div class="form-group col-md-6">
                            <label>InChargeFromDate</label>
                            <input
                              type="date"
                              class="form-control"
                              formControlName="InChargeFromDate"
                            />
                           
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="">
                    <a (click)="addIncharge()" style="cursor: pointer">
                      Add another InCharge +
                    </a>
                  </div>
                  <hr
                    style="height: 1px; background-color: #ccc; border: none"
                  />

                  <div class="text-center button-list mt-3">
                    <!-- <a class="btn btn-outline-primary" href="javascriptvoid:();">Edit</a> -->
                  </div>

                  <div class="text-center button-list mt-3">
                    <button
                      class="btn btn-primary waves-effect waves-light btn-sm"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseExample"
                      aria-expanded="true"
                      aria-get="collapseExample"
                      type="submit"
                      [disabled]="!myForm.valid"
                    >
                      + Add Property
                    </button>
                  </div>
                 
              
                
                </div>
              </div>
              <!-- end collapse-->
            </div>
            <!-- end card-body-->
          </div>
          <!-- end card-->
        </div>
      </div>
    </div>
    <!-- container -->
  </div>
</form>
